/* navigation */
#navbar {
    flex-direction: column;
    margin: -15px auto;
    height: 120px;
}
#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* home section  */
#home::before {
    height: 842px;
}
#home {
    padding: 3px 68px;
    height: 600px;
}
#home p {
    font-size: 13px;
}
/* services section  */
#services {
    flex-direction: column;
}

#services .box img {
    height: 100px;
    margin: auto;
    display: block;
}
/* client section  */
#clients {
    flex-wrap: wrap;
}
#clients img {
    width: 85px;
    /* padding: 6px; */
    height: auto;
}

/* contact us section  */
#contact {
    position: relative;
}
#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../telephone-586268_960_720.webp") no-repeat center center/cover;
    opacity: 0.5;
    z-index: -1;
    top: 0px;
}
#contact-box form {
    width: 80%;
}
/* footer  */
footer{
    background: black;
color: white;
padding: 9px 26px;
width: auto;
height: 30px;


}
footer .center{
    font-size: 12px;
    margin: -6px auto;
}
/* utility classes */
.h-primary {
    font-size: 26px;
}

.btn {
    font-size: 10px;
    padding: 4px 8px;
}
